<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Supercloud</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>http.ContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>http.SessionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>http.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadServlet</display-name>
    <servlet-name>LoadServlet</servlet-name>
    <servlet-class>http.LoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadServlet</servlet-name>
    <url-pattern>/LoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTenantServlet</display-name>
    <servlet-name>DeleteTenantServlet</servlet-name>
    <servlet-class>http.DeleteTenantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTenantServlet</servlet-name>
    <url-pattern>/DeleteTenantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RateServlet</display-name>
    <servlet-name>RateServlet</servlet-name>
    <servlet-class>http.RateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RateServlet</servlet-name>
    <url-pattern>/RateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNodeServlet</display-name>
    <servlet-name>AddNodeServlet</servlet-name>
    <servlet-class>http.AddNodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNodeServlet</servlet-name>
    <url-pattern>/AddNodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLinkServlet</display-name>
    <servlet-name>AddLinkServlet</servlet-name>
    <servlet-class>http.AddLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLinkServlet</servlet-name>
    <url-pattern>/AddLinkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectNodeServlet</display-name>
    <servlet-name>SelectNodeServlet</servlet-name>
    <servlet-class>http.SelectNodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectNodeServlet</servlet-name>
    <url-pattern>/SelectNodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditNodeServlet</display-name>
    <servlet-name>EditNodeServlet</servlet-name>
    <servlet-class>http.EditNodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNodeServlet</servlet-name>
    <url-pattern>/EditNodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditLinkServlet</display-name>
    <servlet-name>EditLinkServlet</servlet-name>
    <servlet-class>http.EditLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditLinkServlet</servlet-name>
    <url-pattern>/EditLinkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNodeServlet</display-name>
    <servlet-name>UpdateNodeServlet</servlet-name>
    <servlet-class>http.UpdateNodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNodeServlet</servlet-name>
    <url-pattern>/UpdateNodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNodeServlet</display-name>
    <servlet-name>DeleteNodeServlet</servlet-name>
    <servlet-class>http.DeleteNodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNodeServlet</servlet-name>
    <url-pattern>/DeleteNodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLinkServlet</display-name>
    <servlet-name>DeleteLinkServlet</servlet-name>
    <servlet-class>http.DeleteLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLinkServlet</servlet-name>
    <url-pattern>/DeleteLinkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHostsServlet</display-name>
    <servlet-name>DeleteHostsServlet</servlet-name>
    <servlet-class>http.DeleteHostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHostsServlet</servlet-name>
    <url-pattern>/DeleteHostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SyncServlet</display-name>
    <servlet-name>SyncServlet</servlet-name>
    <servlet-class>http.SyncServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SyncServlet</servlet-name>
    <url-pattern>/SyncServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MappingServlet</display-name>
    <servlet-name>MappingServlet</servlet-name>
    <servlet-class>http.MappingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MappingServlet</servlet-name>
    <url-pattern>/MappingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveServlet</display-name>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>http.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReloadServlet</display-name>
    <servlet-name>ReloadServlet</servlet-name>
    <servlet-class>http.ReloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReloadServlet</servlet-name>
    <url-pattern>/ReloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectServlet</display-name>
    <servlet-name>ConnectServlet</servlet-name>
    <servlet-class>http.ConnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectServlet</servlet-name>
    <url-pattern>/ConnectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteServlet</display-name>
    <servlet-name>ExecuteServlet</servlet-name>
    <servlet-class>http.ExecuteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteServlet</servlet-name>
    <url-pattern>/ExecuteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>http.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StopAllServlet</display-name>
    <servlet-name>StopAllServlet</servlet-name>
    <servlet-class>http.StopAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StopAllServlet</servlet-name>
    <url-pattern>/StopAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RunScriptServlet</display-name>
    <servlet-name>RunScriptServlet</servlet-name>
    <servlet-class>http.RunScriptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunScriptServlet</servlet-name>
    <url-pattern>/RunScriptServlet</url-pattern>
  </servlet-mapping>
</web-app>