Substrate

NumNodes: 7
NumLinks: 6
NumClouds: 2
NodesID: A B C D E F G
NodesCPU: 100 100 100 100 100 100 100
NodesSec: 0 0 0 0 0 0 0
NodesLoc: 1 2 2 1 1 2 2
Links: (A,B) (B,C) (D,A) (E,A) (F,B) (G,B)
LinksBw: 1000 1000 1000 1000 1000 1000
LinksSec: 0 0 0 0 0 0
LinksWeight: 1 1 1 1 1 1
CloudsID: 1 2
CloudSec: 0 1
################################################################################
