Substrate

NumNodes: 9
NumLinks: 9
NumClouds: 3
NodesID: A B C D E F G H I
NodesCPU: 100 100 100 100 100 100 10 10 10
NodesSec: 0 0 0 0 0 0 0 0 0
NodesLoc: 1 2 2 2 2 3 3 3 3
Links: (A,B) (B,C) (D,B) (E,B) (A,F) (G,F) (H,F) (I,F) (F,B)
LinksBw: 1000 1000 1000 1000 1000 1000 1000 1000 1000
LinksSec: 0 0 0 0 0 0 0 0 0
LinksWeight: 1 1 1 1 1 1 1 1 1
CloudsID: 1 2 3
CloudSec: 4 1 2
################################################################################
