Substrate

NumNodes: 3
NumLinks: 3
NumClouds: 3
NodesID: A B C
NodesCPU: 100 100 100
NodesSec: 1 1 1
NodesLoc: 1 2 3
Links: (A,B) (A,C) (B,C)
LinksBw: 1000 1000 1000
LinksSec: 1 1 1
LinksWeight: 1 1 1
CloudsID: 1 2 3
CloudSec: 1 1 1
################################################################################
