Substrate

NumNodes: 10
NumLinks: 9
NumClouds: 4
NodesID: A B C D E F G H I J
NodesCPU: 100 100 100 100 100 100 100 100 100 100
NodesSec: 1 1 1 1 1 1 1 1 1 1
NodesLoc: 1 2 2 2 2 3 4 4 4 4
Links: (A,B) (B,C) (D,B) (E,B) (A,F) (A,G) (H,G) (I,G) (J,G)
LinksBw: 1000 1000 1000 1000 1000 1000 1000 1000 1000
LinksSec: 0 0 0 0 0 0 0 0 0
LinksWeight: 1 1 1 1 1 1 1 1 1
CloudsID: 1 2 3 4
CloudSec: 4 2 3 1
################################################################################
