Substrate

NumNodes: 4
NumLinks: 3
NumClouds: 3
NodesID: A B C D
NodesCPU: 100 100 100 100
NodesSec: 1 2 1 1
NodesLoc: 1 2 0 0
Links: (A,C) (C,B) (C,D)
LinksBw: 100 100 100
LinksSec: 1 1 1
LinksWeight: 1 1 1
CloudsID: 2 0 1
CloudSec: 2 0 1
################################################################################
