Substrate

NumNodes: 6
NumLinks: 7
NumClouds: 3
NodesID: A B C D E F
NodesCPU: 100 100 100 100 100 100
NodesSec: 1 2 0 1 1 2
NodesLoc: 1 2 0 0 1 2
Links: (A,C) (C,B) (C,D) (E,A) (B,F) (A,F) (D,E)
LinksBw: 100 100 100 100 100 100 100
LinksSec: 1 1 1 1 1 1 1
LinksWeight: 1 1 1 1 1 1 1
CloudsID: 2 0 1
CloudSec: 2 0 1
################################################################################
