Substrate

NumNodes: 5
NumLinks: 4
NumClouds: 2
NodesID: A B C D E
NodesCPU: 100 100 100 100 100
NodesSec: 0 0 0 0 0
NodesLoc: 1 2 2 2 2
Links: (A,B) (B,C) (D,B) (E,B)
LinksBw: 1000 1000 1000 1000
LinksSec: 0 0 0 0
LinksWeight: 1 1 1 1
CloudsID: 1 2
CloudSec: 2 1
################################################################################
